/* Header */

header {
    padding: 30px 0px;
    justify-content: space-between;
    justify-content: -webkit-space-between;

    .logo {
        font-size: 19px;
        font-family: $secondary-font;
        font-weight: 700;
        color: $secondary-color;
        padding-top: 9px;
    }

    .login {
        p {
            font-size: 14px;
            display: inline-block;
            margin-top: 11px;
            font-weight: 300;
            padding-right: 15px;
            color: $light-gray;
            letter-spacing: 0.2px;
        }

        a {
            float: right;
        }
    }

    .user {
        margin-top: -7px;

        img {
            margin-top: 9px;
            width: 40px;
            height: 40px;
            @include rounded();
            @include add-border(1px, $secondary-color, "all");
        }

        .dropbtn {
            color: $primary-color;
            padding: 0px 0px 14px 6px;
            font-size: 14px;
            font-weight: 700;
            border: none;
            cursor: pointer;

            i {
                margin-top: 21px;
                margin-left: 15px;
                color: $light-gray;
            }
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: $bg-darken;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);
            @include border-radius();
            @include add-border(2px, $border-color, "all");
            z-index: 1;
            margin-top: 50px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .dropdown-content a {
            color: $light-gray;
            padding: 2px 15px;
            text-decoration: none;
            display: block;
            font-size: 14px;
            float: none;

            &:hover {
                color: $secondary-color;
            }
        }

        .show {
            display: block;
        }
    }
}
