.save-city-search {
  .wrapper {
    .imgLogo {
      height: 25px;
    }
    .city-list {
      width: 143px;
      float: left;
      position: absolute;
      top: 60px;

    }
    .edit-mode {
      .edit-tabs {
        border: none;
        .tab-data {
          .city-list {
            .city-name {
              display: inline-block;
              padding: 12px 0px;
            }
          }
        }
      }
      table.table.table-small {
        tbody {
          tr{
            td:last-child {
              text-align: left;
            }
          }
        }
      }
      .tab-data {
        a.primary-btn {
          float:right;
          margin-bottom: 10px;
        }
      }
      input[type=text] {
        text-align: left;
        padding-left: 10px;
      }
    }
    .content {
      margin-top: 0;
    }
  }

  .loading {
    min-height: 400px;
  }
}
