/* Base Style */

/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");

/* Base Style */

a,
button,
.jcf-select,
.jcf-list .jcf-option,
.jcf-select .jcf-select-text,
input[type="submit"],
label:hover,
table tr,
.tabs li {
    cursor: pointer;
    transition: color 0.5s linear 0s;
    -webkit-transition: color 0.5s linear 0s;
    transition: background 0.5s linear 0s;
    -webkit-transition: background 0.5s linear 0s;
}

html {
    font-size: 0px;
    color: transparent;
}

body {
    font-family: $primary-font;
    font-size: 16px;
    color: $primary-color;
    background-color: $bg-color;
    line-height: 1.5em;
    background: url(../images/background.png) no-repeat bottom center;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: $secondary-color;

    &:hover {
        text-decoration: none;
    }
}

.container {
    margin: auto;
    max-width: $container-width;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.wrapper {
    margin: auto;
    max-width: $wrapper-width;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 300px;
}

main.flex {
    align-items: center;
    align-items: -webkit-center;
    height: 62vh;
}

.flex {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-direction: -webkit-row;
}

.text-center {
    text-align: center;
}

.img-responsive {
    max-width: 100%;
}

.btn {
    display: inline-block;
}

.red-color {
    color: $red-color !important;
}

.no-margin {
    margin: 0px !important;
}

.reg-form {
    font-size: 12px;
    max-width: 655px;
    margin: auto;
    width: 100%;

    h2 {
        margin-bottom: 50px;

        a {
            text-decoration: underline;
        }
    }

    p {
        color: $light-gray;
        display: inline-block;
        padding-left: 15px;
        font-size: 14px;
        font-weight: 300;
    }

    &.step-5 {
        text-align: center;
        max-width: 760px;
    }
}
