/* All Variables */


/* Colors  */

$primary-color:#6A6A6A;
$secondary-color:#2FC865;
$lighten-color:#ffffff;
$light-gray:#9d9d9d;
$red-color:#ff2525;

$bg-color:#ffffff;
$bg-lighten:#f9f9f9;
$bg-darken:#fcfcfc;
$radio-btns:#f2f2f2;
$bg-white:#ffffff;
$bg-table-header:#f5f5f5;



/* Fonts */

$primary-font:'Roboto', serif;
$secondary-font:'Roboto Slab', serif;





/* Container */
$container-width:1310px;
$wrapper-width:1000px;



/* Input colors */
$input-bg:#f9f9f9;
$input-color:#dadada;



$border-color:#f4f4f4;


/* Responsive Breakpoints */

$max-mobile:767px;
$max-mobile-small:400px;
$max-tablet:991px;
$min-tablet:768px;
$desktop-only:1200px;
