/* Contetn Area Style*/

.content{
	padding:30px 30px;
	margin-top:30px;
	background:$bg-white;
	@include border-radius();
	@include add-border(2px, $border-color ,"all");
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.08);
}


/*** Main Page ***/

/* House Model Result */

.house-model-result{

	.location-half{
		.data-location{
			color:$secondary-color;
			font-size:28px;
			font-weight:700;
			font-family:$secondary-font;

			i.fa{
				margin-right:10px;
			}

			span{
				color:$primary-color;
				font-size:14px;
				font-weight:400;
				font-family:$primary-font;
				display: inline-block;
			    padding-left: 6px;
			    vertical-align: top;
			    padding-top: 5px;
			    letter-spacing: 0.6px;
			}
		}

		.data-img{
			padding-top:18px;

			img{
				@include border-radius();
			}
		}
	}

	.cash-half{
		padding-left:25px;

		.data-title{
			color:$primary-color;
			font-size:22px;
			font-weight:700;
			font-family:$secondary-font;
		    letter-spacing: 0.1px;			
		}

		.data-percentage{
			color:$secondary-color;
			font-size: 67px;
		    font-weight: 700;
		    margin-top: 12px;
		    margin-bottom: 21px;
		    line-height: 60px;
		}

		p{
			color:$light-gray;
			line-height: 21px;
			font-weight:400;
		}

		a.btn{
			margin-top: 5px;
    		display: inline-block;
		}
	}
}

/* Result Table */

.data-table{
	padding-top:37px;
}





/*** Properties List Edit Mode ***/


.edit-header{
	  -webkit-justify-content: space-between; /* Safari */
	  justify-content:         space-between;
	  margin-left:-30px;
	  margin-right:-30px;
	  padding-left:30px;
	  padding-right:30px;
	  padding-bottom:18px;
	  @include add-border(2px, $border-color ,"bottom");
}

.mortgage-title{
	color:$primary-color;
	font-size:30px;
	font-weight:700;
	font-family:$secondary-font;

	span{
		color:$primary-color;
		font-size:17px;
		font-weight:400;
		font-family:$primary-font;
		display: inline-block;
	    padding-left: 13px;
	    vertical-align: top;
	    padding-top: 5px;
	    letter-spacing: 0.6px;
	}
}/* End Header */



/* Caclulator */
.mortgage-calculator {
	padding:25px 0px;
	-webkit-align-items: center; /* Safari */
  	align-items:         center;
    -webkit-justify-content: space-between; /* Safari */
  	justify-content:         space-between;

	h3{
		width:40%;
		text-align:center;
		font-family:$primary-font;
		color:$primary-color;

	}

	table{
		width:60%;

		tr{
			td{
				&:last-child{
					font-weight:700;
					color:$primary-color;
				}
			}

			&:last-child{

				td{
					font-weight:700;
					text-transform:uppercase;
					color:$primary-color;
				}
			}
		}
	}

}/* End Calculator */


/* Cash on Cash Return */
.coc-return{
	margin-left:-30px;
	margin-right:-30px;
  	padding:60px 30px;
  	padding-left:60px;
  	text-align:center;
  	background:$bg-lighten;
    @include add-border(2px, $border-color ,"top");
    -webkit-justify-content: space-between; /* Safari */
  	justify-content:         space-between;
  	-webkit-align-items: center; /* Safari */
	align-items:         center;


  	h6{
  		color:$light-gray;
  	}

  	strong{
  		color:$secondary-color;
  		font-size:43px;
  		letter-spacing:1px;
  		font-weight:700;
  		line-height:35px;
  		margin-top: 32px;
	    display: block;


  		span{
  			font-size:21px;
  			float: left;
    		margin-top: -6px;
  		}

  		.month{
			font-weight:300;
	  		color:$primary-color;
	  		font-size:16px;

  		}
  	}


	.coc-minus, .coc-equal, coc-plus{
		color:$primary-color;
		margin-top:23px;
	}

	.coc-minus:before{
		content:'';
		display:block;
		width:35px;
		height:5px;
		border-radius:10px;
		background:$primary-color;
	}

	.coc-plus:before{
		content:'+';
		display:block;
		font-size:40px;
		font-weight:700;
		border-radius:10px;
		color:$primary-color;
	}


	.coc-equal:before{
		content:'';
		display:block;
		width:35px;
		height:6px;
		margin-bottom:10px;
		background:$primary-color;
	}

	.coc-equal:after{
		content:'';
		display:block;
		width:35px;
		height:6px;
		background:$primary-color;
	}


	.total-coc-percentage{
		color:$lighten-color;
	    font-size: 31px;
	    font-weight: 700;
	    font-family:$primary-font;
		border:none;
		outline:none;
	    letter-spacing:1px;
	    padding: 18px 32px;
	    margin-top: 20px;
	    margin-bottom: 16px;
	    @include border-radius();
		background:$secondary-color;

	}

	&.v2{
		border-top:none;

		strong{
			color:$primary-color;
		}
	}


}/* Cash on Cash Return */



.edit-tabs{
		padding:32px 30px;
		margin-left:-30px;
		margin-right:-30px;
    	@include add-border(2px, $border-color ,"all");
	    -webkit-justify-content: space-between; /* Safari */
		justify-content:         space-between;


	.tabs{
    	@include add-border(2px, $border-color ,"top");
    	margin-top:0px;
    	min-width: 30.5%;

		li{
			display:block;
			color:$primary-color;
			font-size:18px;
			font-weight:700;
			padding:12px 15px;
			cursor:pointer;
    		@include add-border(2px, $border-color ,"bottom");
    		@include add-border(2px, $border-color ,"left");

    		&:hover, &.active{
			  	background:$bg-lighten;
    		}
		}

	}/* .tabs*/


	/* Tabs Data */
	.tabs-data{
    	@include add-border(2px, $border-color ,"all");
		width:100%;
		padding:25px 25px;

		table{

			td{
				i{
			    	@include add-border(2px, $border-color ,"left-right");
			    	font-style:normal;
			    	padding:6px 13px;
			    	margin:-6px 0px;
			    	float:right;
				}

				i.fa{
			    	border:none;
			    	font-style:normal;
			    	padding:6px 6px;
			    	margin:0px;
			    	float:none;
			    	color:$primary-color;
				}

			}/* td */

			tr{
				td{
					&:last-child{
						font-weight:700;
						color:$primary-color;
					}
				}

				&:last-child{
					td{

						&:last-child{
							color:$secondary-color;
						}
					}
				}

			}/* tr */

		}/* table */


		.tab-data{
			display:none;
		}

		#tab-data-1{
			display:block;
		}


		.coc-tab{
			padding-top:17px;
			text-align:center;
			padding-right:50px;
			-webkit-justify-content: space-between; /* Safari */
			justify-content:         space-between;
			-webkit-align-items: center; /* Safari */
			align-items:         center;

			p{
				margin:0px;
				padding:8px 0px;
				font-size:15px;
				letter-spacing:0.2px;
				font-weight:700;

				span{
					font-weight:300;
					font-size:14px;
					display:block;
				}
			}

			hr{
				margin:0px;
				border:none;
				border-bottom:solid 1px $primary-color;
			}


			.total-coc-percentage{
				color:$lighten-color;
			    font-size: 20px;
			    font-weight: 700;
			    font-family:$primary-font;
				border:none;
				outline:none;
			    letter-spacing:1px;
			    padding: 16px 32px;
			    margin-top: 20px;
			    margin-bottom: 16px;
			    @include border-radius();
				background:$secondary-color;

			}

			.total-coc{
				margin-top:30px;
			}
		}


	}/* tabs-data */


}/* edit-tabs */




.data-details{


	.details-header{
		padding:30px 0px;
		-webkit-align-items: center; /* Safari */
		align-items:         center;
		-webkit-justify-content: space-between; /* Safari */
		  justify-content:         space-between;

		.mortgage-title{


			ul{
				margin:0px;
				margin-top:10px;


				li{

					font-size:18px;
					font-weight:400;
					font-family:$primary-font;
					color:$primary-color;;
					list-style-type:none;
					padding-right:20px;

					strong{
						display:inline-block;
						padding-right:3px;
					}

					&:after{
						content:'•';
						color:$light-gray;
						font-size:24px;
						float:right;
						margin-left:20px;
						margin-top:3px;

					}

					&:last-child:after{
						display:none;
					}
				}
			}

		}/* details title / .mortgage-title */

		.details-price{
			font-size: 43px;
		    letter-spacing: 1px;
		    font-weight: 700;
		    line-height: 35px;
		    display: block;
		    color:$primary-color;
		    text-align:center;
		    padding:10px 0px;
		    padding-left:30px;
			@include add-border(1px, $border-color ,"left");
		}

	}/* detail-header */

	&.v2{

		.details-header{

			.mortgage-title{
				span{
					display:block;
					padding-left:0px;
				}
			}

			ul{
				margin:0px;
				margin-top:10px;


				li{

					font-size:18px;
					font-weight:400;
					font-family:$primary-font;
					color:$primary-color;;
					list-style-type:none;
					padding-left:20px;
					padding-right:20px;
					text-align:center;
					@include add-border(1px, $border-color ,"left");

					strong{
						display:block;
						padding-right:3px;
					}
				}
			}

		}


		.details-price{
			color:$secondary-color;
		}

	}

}/* data-details */


.content-list{

    -webkit-justify-content: space-between; /* Safari */
	justify-content:         space-between;
	font-size:17px;

	ul{
		padding:20px 0px;
		display:block;
		width:100%;

		li{
			display:block;
			margin-bottom:15px;

			strong{
				text-align:right;
				float:right;
			}

		}


			&:first-child{
				padding-right:20px;
				@include add-border(1px, $border-color ,"right");
			}

			&:last-child{
				padding-left:20px;
			}
	}


}/* Content List */

.heading{
	color: $primary-color;
    font-size: 24px;
    font-weight: 700;
    margin-top:30px;
    margin-bottom:20px;
    font-family: $secondary-font;
}

.property-details{
	@include add-border(2px, $border-color ,"all");
	border-bottom:none;
	@include border-radius();


	li{
		display:block;
		min-height:56px;
		padding:15px 20px;
		@include add-border(2px, $border-color ,"bottom");

		strong{

		}

		div.list-item{
			font-size:12px;
			line-height:18px;

			&:before{
				content:'•';
				display:inline-block;
				font-size:13px;
				margin-right:5px;
			}
		}

		&:nth-child(odd){
			background:$bg-darken;
		}
	}
}
