/* Typography */

p{
	font-family: $primary-font;	
	font-size: 16px;
	color: $primary-color;
	line-height: 1.5em;
}

h2{
	color: $secondary-color;
	font-family: $secondary-font;
	font-size:41px;
	line-height:40px;
	font-weight:700;
	margin:0px;
	letter-spacing:1px;

}

h3{
	color: $secondary-color;
	font-family: $secondary-font;
	font-size:34px;
	line-height:40px;
	font-weight:700;
	margin:0px;
	letter-spacing: 0.5px;
    line-height: 44px;
}

h6{
	color: $secondary-color;
	font-family: $secondary-font;
	font-size:18px;
	line-height:40px;
	font-weight:700;
	margin:0px;
	letter-spacing: 0.5px;
    line-height: 25px;
}