.pagination-block {
  display: inline-block;
  width: 100%;
  user-select: none;

  .pull-left {
    select {
      margin-top: 20px;
    }
    span {
      margin-left: 10px;
    }
  }
  .pagination {
    text-align: right;
    padding-top: 30px;

    li {
      display: inline-block;
      list-style: none;
      padding: 0px 10px;

      a {
        color: #6A6A6A;
        font-family: 'Roboto';
      }

      &.btn-numbered-page.active {
        text-decoration: underline;
      }

    }

  }
}
